body {
  font: 15px Helvetica, Arial, sans-serif;
  background-color: #eee;
  color:#666;
}

.logo{
  text-align: center;
  margin: auto;
  display:block;
  margin-bottom: 20px;
}

.container{
  width: 900px;
  display: block;
  border:1px solid #ccc;
  margin: 10px auto;
  padding:20px;
  border-top:#83cd39 3px solid;
}

.clr{
  clear:both;
}

ul{
  padding : 0;
  margin: 0;
}

h1,h2,h3,p{
  padding:5px 0;
  margin-bottom: 0;
}

p{
  margin:0;
}

nav{
  background:#404137;
  color:#fff;
  overflow:auto;
  height:40px;
  padding:20px 0 0 10px;
  font-size: 18px;
  margin: 5px;
  border-radius: 3px;
}

nav li{
  float:left;
  list-style: none;
}

nav a{
  padding:10px;
  margin: 0 10px;
  color:#fff;
  text-decoration: none;
}

nav a.current, nav a:hover{
  background: #af5;
  color:#000;
}

.post a{
  color:#666;
  text-decoration: none;
}

.post{
  border:1px solid #bbb;
  margin:10px;
  padding:10px;
  border-radius: 5px;
}

a.more{
  display: block;
  width: 80px;
  background: #404137;
  color:#fff;
  padding: 10px;
  margin-top:30px;
  border-radius: 7px;
}

.meta{
  padding:7px;
  border: 1px solid #ccc;
  background: #ccc;
  margin-bottom:12px;
}

input, select, textarea{
  margin-bottom:15px;
}

label{
  display: inline-block;
  width: 180px;
}

input[type='text'],select,textarea{
  padding:3px;
  height: 20px;
  width: 200px;
  border: 1px #ccc solid;
}

select{
  height:30px;
}

textarea{
  height: 90px;
  width: 450px;
}

form{
  border: 1px solid black;
  padding:10px;
}

.success{
  background-color: lightgreen;
  border-radius: 2px;
  padding: 5px;
  font-size: 17px;
  text-decoration: none;
}

li{
  list-style: none;
}
